<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Vero Leyton</title>

		<meta property="og:title" content="Vero Leyton">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.veroleyton.com">
		<meta property="og:description" content="Barista — Tostadora &#10;&#13;Co-fundadora The Lab Coffee Roasters">
		<meta property="og:image" content="https://www.veroleyton.com/images/pic07.jpg">

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
		<link rel="manifest" href="../site.webmanifest">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="Vero Leyton">
		<meta name="application-name" content="Vero Leyton">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../assets/css/main.min.css">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="preview">
				<div class="inner">
					<div class="content">
						<h1>Vero Leyton</h1>
						<h2>Barista — Tostadora</h2>
						<h2>Co-fundadora <a href="https://www.instagram.com/thelabcoffeeroasters/" target="_blank" rel="noopener">@thelabcoffeeroasters</a></h2>
					</div>
					<a href="/" class="button hidden"><span>Ingresar</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="preview">
				<div class="inner">
					<div class="image fit">
						<img src="../images/pic07.jpg" alt="" />
					</div>
				</div>
				<a href="detail06.html" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				<a href="detail08.html" class="nav next"><span class="fa fa-chevron-right"></span></a>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>Acerca de mí</span></a>
				<div class="inner">
					<div class="content">
						<h3>🌱✨</h3>
						<p>Verónica Leyton se interesó en el café de especialidad cuando tenía 15 años, en una visita a El Salvador. Ahí se formó, tiempo después, como barista y tostadora. Abrió su primera cafetería The Lab Coffee Roasters en marzo de 2016. El emprendimiento creció, se transformó en cadena y en la actualidad hay cinco locales en Montevideo. Verónica es la especialista de café de la marca: viaja a catar, asiste a ferias y se encarga de los perfiles de tostado.</p>
					</div>
					<div class="copyright">
						<h3>Seguime</h3>
						<ul class="icons">
							<!-- <li><a href="https://twitter.com/vero.leyton" target="_blank" rel="noopener"class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
							<li><a href="https://www.facebook.com/vero.leyton" target="_blank" rel="noopener"class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/veroleyton/" target="_blank" rel="noopener"class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/veronica-leyton-ponzo-022911104" target="_blank" rel="noopener"class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
						&copy; 2019
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/skel/3.0.0/skel.min.js"></script>
			<script src="../assets/js/util.min.js"></script>
			<script src="../assets/js/main.min.js"></script>

	</body>
</html>
